.header {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}
.body {
    display: flex;
}
.body div:first-child{
   width: 75%;
   height: 50px;
   background: blue;
}
.body div:last-child {
    width: 25%;
    height: 50px;
    background: orange;
}
.body-2 {
    display: flex;
}
.body-2 div {
    margin-left: 10px;
    background: red;
    width: 25%;
    height: 50px;
}
.body-2 div:first-child {
    margin-left: 0px;
}
.footer {
    width: 100%;
    height: 50px;
    background: green;
}